fastapi
uvicorn
sqlalchemy
alembic
pydantic
pydantic-settings
pandas
openpyxl
python-multipart
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
redis
minio
elasticsearch==8.17.0
lxml
pythainlp
aiosmtplib
weasyprint
matplotlib
psycopg2-binary
python-dotenv
python-magic>=0.4.27
pytest>=8.0.0
httpx>=0.27.0
